// Mixins ======================================================================================== /

@import 'variables';

// ----- CLEARFIX available via mixin or (preferred) by extending the class

@mixin clearfix {
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
}
}

%hidden_visually {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
}

@mixin breakpoint($break) {
	@if $break == sm {
		@media (min-width: $sm) { 
			@content; 
		}
	}
	@else if $break == med {
		@media (min-width: $med) { 
			@content; 
		}
	}
	@else if $break == lg {
		@media (min-width: $lg) { 
			@content; 
		}
	}
	@else if $break == xl {
		@media (min-width: $xl) { 
			@content; 
		}
	}
}

@function getGutterWidth($prefix) {
    @if $prefix == sm {
        @return $gutter-width-sm;
    }
    @else if $prefix == med {
        @return $gutter-width-med;
    }
    @else if $prefix == lg {
        @return $gutter-width-lg;
    }
    @else if $prefix == xl {
        @return $gutter-width-xl;
    }
}

@function calculateRem($size) {
	$remSize: $size / 10px;
	@return $remSize * 1rem;
}

@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
}

@mixin transform ($transforms) {
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin transition ($value...) {
	-webkit-transition: $value;
	transition: $value;
}

@mixin border_box_sizing ($box_sizing:border-box) {
	-webkit-box-sizing: $box_sizing;
	-moz-box-sizing: $box_sizing;
	box-sizing: $box_sizing;
}

@function columns($columns, $container-columns: $grid-columns) {
  $width: $columns * $column-width;
  $container-width: $container-columns * $column-width;
  @return percentage($width / $container-width);
}
