html {
    font-size: 62.5%;
}

body {
    @include font-size(14px);
    background-color: $primary-background;
    overflow-y: hidden;

    &.mobile_nav_open {
        overflow: hidden;
    }
}
//to-do: remove
.tempheight {
    height: 900px;
}

//helper classes
.mobile_only {
    @include breakpoint(sm) {
        display: none;
    }
}

//typography
h1 {
    font-family: $secondary_font;
    font-weight: normal;
    color: $headline_color;
    @include font-size(40px);

    @include breakpoint(med) {
        @include font-size(50px);
    }
}

p {
    font-family: $primary_font;
    @include font-size(16px);
    line-height: 35px;
}

header {
    width: 100%;
    position: absolute;
}

#logo {
    position: relative;
    z-index: 999;
    margin: 23px 0 0 0;
    float: left;

    a {
        display: block;
        width: 45px;
        height: 45px;
        background-image: url(../assets/images/iF_logo_white_mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-indent: -9999px;
    }
    
    @include breakpoint(sm) {

        a {
            text-decoration: none;
            background-image: url(../assets/images/iF_logo_white.svg);
        }
    }

    @include breakpoint(med) {
        a {
            width: 346px;
        }
    }
}

//nav

nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 16px;
    overflow: hidden;
    @include transition (background-color 0.5s ease-in-out);

    .nav_contents {
        opacity: 0;
        z-index: -99;
        width: 111%;
        margin: 37px -10px 0 -20px;
        @include transform (perspective(600px) rotateX(-20deg));
        @include transition (all 0.5s ease-in-out);

        ul {
            padding: 0; margin: 0;
        }

        li {
            display: block;
            text-transform: uppercase;
            text-align: center;

            &:hover {
                background-color: $hover;
            }

            a {
                font-family: $secondary_font_bold;
                text-decoration: none;
                color: #fff;
                display: block;
                padding: 20px 0;
                @include font-size(35px);
                letter-spacing: 7px;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    .burger_and_fries {
        position: relative;
        float: right;
        padding: 0;
        width: 40px;
        height: 40px;
        cursor: pointer;
        margin-right: 10px;
        z-index: 100;

        .patty {
           width: 100%;
            background-color: #fff;
            height: 4px;
            position: relative;
            top: 58%;
            @include transition(background-color 0.5s ease-in-out);
            border-radius: 3px;

            &:before, &:after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 4px;
                background: #fff;
                border-radius: 3px;
                @include transition(all 0.5s ease-in-out);
            }

            &:before {
                top: -11px;
            }

            &:after {
                bottom: -11px;
            }
        }
    }

    &.mobile_nav_open {
        background-color:rgba(0,0,0,.8);
        z-index: 100;

        .nav_contents {
            visibility: visible;
            opacity: 1;
            z-index: 100;
            @include transition (all 0.5s ease-in-out);
            @include transform (perspective(600px) rotateX(0deg));
        }

        .patty {
            background-color: transparent;
            &:before, &:after {
                //for background-color change
            }

            &:before {
                @include transform(rotate(-320deg));
                top: 0;
            }

            &:after {
                @include transform(rotate(320deg));
                bottom: 0;
            }
        }
    }
    
    .social_icons_container {
        margin-top: 30px;
        h1 {
            font-family: $secondary_font_bold;
            @include font-size(17px);
            letter-spacing: 3px;
            color: #fff;
        }
        .copyright {
            margin-top: 13px;
        }
    }
    @include breakpoint(med) {
        background-color:rgba(255,255,255,.8);
        position: fixed;
        bottom: 0;
        width: 100%;
        top: auto;
        height: auto;
        padding: 0;
        z-index: 100;
        
        .nav_contents {
            display: block;
            opacity: 1;
            z-index: 1;
            width: auto;
            margin: 0;
            @include transform (none);
            @include transition (all 0.5s ease-in-out);

            li {
                display: inline-block;
                padding: 20px;

                &.contact {
                    display: block;
                    float: right;
                }

                &:first-child {
                    padding-left: 0;
                }

                &:hover {
                    background-color: transparent;

                    a {
                        color: inherit;
                    }
                }


                a {
                    font-family: $secondary_font_bold;
                    text-decoration: none;
                    color: $copy_color;
                    line-height: 1;
                    position: relative;
                    padding: 0;
                    @include font-size(14px);
                    letter-spacing: 2px;

                    &:after {
                        content: "";
                        position: absolute;
                        bottom: -7px;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background-color: transparent;
                        @include transition (background-color .35s ease);
                    }

                    &:hover:after {
                        background-color: $copy_color;
                    }
                }
            }
        }
    }
}

//footer
footer {
    color: #fff;
    padding-bottom: 82px;
    background-color: $dark_background;
    display: none;

    @include breakpoint(med) {
        display: block;
    }

    h1 {
        @include font-size(12px);
        font-family: $secondary_font_bold;
        margin-top: 18px;
    }

    .column {
        font-family: $secondary_font;
    }
}

.social_icons_container {
    text-align: center;
    color: #fff;

    .symbol {
        text-decoration: none;
        display: inline-block;
        color: #fff;
        @include font-size(40px);

        &:hover {
            color: $hover;
            @include transition (color .35s ease);
        }
    }
}

.copyright {
    text-align: center;

    p {
        color: #fff;
        @include font-size(10px);
    }
}

//link styles
a {
    font-family: $primary_font;
    @include font-size(16px);
    text-decoration: underline;
    color: $copy_color;
    @include transition (color .35s ease);

    &:hover {
        color: $hover;
    }
}