// .background_video {
//     display: block;
//     position: fixed;
//     left: 0; 
//     top: 0;
//     min-width: 100%; 
//     min-height: 100%;
//     width: 100%; 
//     height: auto; 
//     z-index: -100;
//     background-image:url(../assets/images/mobile_home_splash.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;

//     #bgvid {
//         display: none;
//     }

//     @include breakpoint(med) {
//         #bgvid {
//             display: block;
//         }
//     }
// }

.background_video {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-image:url(../assets/images/mobile_home_splash.jpg);

    #bgvid {
         display: none;
     }

     @include breakpoint(med) {
         #bgvid {
             display: block;
         }
     }
}

//nav styles for the homepage
.home {
    nav {
        .burger_and_fries {
            display: none;
        }

        .nav_contents {
            opacity: 1;
            @include transform (none);
            z-index: 1;
            margin-top: 76px;
        }

        @include breakpoint(med) {
            background-color: transparent;
            margin-top: 0;

            li a {color: #fff;
                &:hover {
                    color: #fff;
                }
                &:hover:after {
                    background-color: #fff;
                }
            }
        }
    }

    footer {
        display: none;
    }
}