section.social-icons
    div.grid
        div.column.size12of12.social_icons_container
            h1 FOLLOW iF
            a.symbol(href="https://www.facebook.com/intentionalFutures" target="_blank" title='circlefacebook')
            a.symbol(href="https://twitter.com/intentfutures" target="_blank" title='circletwitterbird')
            a.symbol(href="https://www.linkedin.com/company/intentional-futures" target="_blank" title='circlelinkedin')
            a.symbol(href="http://instagram.com/intentionalfutures" target="_blank" title='circleinstagram')
            a.symbol(href="http://vimeo.com/intentionalfutures" target="_blank" title='circlevimeo')
    div.column.size12of12.copyright
        p &copy; #{ new Date().getFullYear() } #{ locals.owner } All Rights Reserved.